<div xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <meta charset="UTF-8"/>
    <title>欢迎</title>
    <meta content="zh-CN"/>
    <script type="text/javascript" th:src="@{/plugin/jquery/jquery.js}"></script>
    <script th:src="@{/plugin/layui/layui.js}"></script>
    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/crud.js}"></script>
    <link rel="shortcut icon" th:href="@{/plugin/img/Logo_40.png}" type="image/x-icon"/>
    <link th:href="@{/plugin/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/plugin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</div>