<div class="layui-side" xmlns:th="http://www.thymeleaf.org" th:fragment="left">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree" lay-filter="leftnav">
            <li class="layui-nav-item layui-this">
                <a href="javascript:;"><i class="fa fa-home"></i>首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-user"></i>用户管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="/user/list" data-id="1">全部用户</a></dd>
                    <dd><a href="javascript:;" data-url="/base/role/list" data-id="2">角色管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-wrench"></i>数据管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="/news/list" data-id="５">数据分析</a></dd>
                    <dd><a href="javascript:;" data-url="http://localhost:5000/" data-id="６">数据抓取</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-cog"></i>系统配置</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="/swagger-ui.html" data-id="3">api</a></dd>
                    <dd><a href="javascript:;" data-url="/druid/index.html" data-id="4">数据库配置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="fa fa-info-circle"></i>其他信息</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">操作日志</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<!--收起导航-->
<div class="layui-side-hide layui-bg-cyan">
    <i class="fa fa-long-arrow-left fa-fw"></i>收起导航
</div>